version: "3.8"

services:
  hub:
    build: .
    expose:
      - "9000"

  nginx:
    image: nginx:stable
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d:ro
      - ./certbot/www:/var/www/certbot:ro
      - ./certbot/live:/etc/letsencrypt:ro
    depends_on:
      - hub

  certbot:
    image: certbot/certbot
    volumes:
      - ./certbot/www:/var/www/certbot
      - ./certbot/live:/etc/letsencrypt
